<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".id" mimeType="id/Patch" />
            <mimeMap fileExtension=".dat" mimeType="dat/Patch" />
        </staticContent>
    </system.webServer>
</configuration>
